.container {
  max-width: 800px;
  margin: 20px auto;
}

.tasks .task {
  background-color: white;
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'deadline actions' 'title title';
}

@media screen and (min-width: 768px) {
  .tasks .task {
    grid-template-columns: 3fr 1fr auto;
    grid-template-areas: 'title deadline actions';
  }
}

.tasks .task .title {
  grid-area: title;
}

.tasks .task .deadline {
  grid-area: deadline;
}

.tasks .task .deadline span {
  padding: 5px;
  background-color: orange;
  border-radius: 8px;
  font-size: 0.8em;
}

.tasks .task .actions {
  grid-area: actions;
  text-align: right;
}

.new-task {
  display: flex;
  gap: 15px;
  padding: 10px 0;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 5px;
}

.form-group button {
  background: #fff;
  border: 2px solid #55ff5d;
  padding: 5px 5px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.archive-btn {
  background: #fff;
  border: 2px solid #ffc955;
  padding: 5px 5px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
