/* You can add global styles to this file, and also import other style files */
header {
  padding: 10px 15px;
  background: #d3d;
}

header h1 {
  color: #fff;
  font-family: Verdana, sans-serif;
}

footer {
  display: flex;
  padding: 10px;
  background-color: #a5f;
  color: #fff;
  font-family: Verdana, sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
